.magazine-header-wrap {
  width: 100%;
  height: 56px;
  border: 1px solid #d7dedd;
  display: flex;
  justify-content: flex-start;
}

.magazine-header-nav {
  display: flex;
  justify-content: space-between;
}

.magazine-header-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 40px;
  padding: 0px;
}

.magazine-header-nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* transition: color 0.2s ease; */
  width: 80px;
  height: 40px;
  text-align: center;
}

.magazine-header-nav-item:hover {
  color: #ff9898;
}
