.my-int-card-container {
  width: 75px;
  height: 100px;
  background-color: azure;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.my-int-card-img {
  width: 100%;
  height: 75px;
  background-color: aqua;
}

.my-int-card-text {
  width: 100%;
  font-size: 12px;
  background-color: aquamarine;
  text-align: center;
}
