.case-detail-page {
  width: 800px;
  padding-top: 60px;
  padding-bottom: 100px;
  margin-left: 350px;
}
.case-detail-title {
  font-size: 29px;
  font-weight: bold;
}
.case-detail-bar {
  margin-top: 27px;
  display: flex;
  justify-content: space-between; /* 왼쪽과 오른쪽으로 요소를 배치 */
  align-items: center; /* 세로 정렬을 중앙에 맞춤 */
  padding: 10px 0;
  margin-bottom: 15px;
}

.bar-sort {
  display: flex;
  flex-direction: row;
}

.bar-sort div {
  width: 85px;
  height: 30px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  background-color: #85b6ff;
  color: white;
}

.bar-save {
  margin-right: 20px;
}

.case-detail-tab {
  /* margin-left: 3px; */
  height: 56px;
  border-bottom: 1px solid #d7dedd;
  display: flex;
  justify-content: flex-start;
  align-items: center; /* 세로 정렬을 중앙에 맞춤 */
  gap: 50px;
  color: #585757;
}
.case-detail-tab div {
  font-size: 17px;
  cursor: pointer;
}

.case-detail-guide {
  margin-top: 16px;
  width: 704px;
  height: 52px;
  border-radius: 10px;
  /* background-color: #f7f7fa; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin-left: 60px;
  font-size: 14px;
  color: #555555;
}

.case-detail-guide2 {
  margin-top: 16px;
  width: 704px;
  height: 52px;
  border-radius: 10px;
  background-color: #f7f7fa;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  margin-left: 60px;
  font-size: 13px;
  color: #555555;
}

.light-icon {
  width: 27px;
  margin-left: 30px;
  margin-bottom: 6px;
}

.guide-box {
  background-color: #f55e00;
  width: 69px;
  height: 29px;
  border-radius: 8px;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 25px;
  margin-left: 10px;
}

.guide-box2 {
  background-color: #f55e00;
  width: 60px;
  height: 25px;
  font-size: 12px;
  border-radius: 8px;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 18px;
  margin-left: 10px;
}

.detail-title {
  margin-top: 100px;
  font-size: 18px;
  font-weight: bold;
  /* display: flex; */
  margin-left: 360px;
  justify-content: center;
  color: #292d32;
  cursor: pointer;
}
.detail-title2 {
  margin-top: 100px;
  font-size: 18px;
  font-weight: bold;
  /* display: flex; */
  margin-left: 378px;
  justify-content: center;
  color: #292d32;
  cursor: pointer;
}
.detail-text {
  font-size: 17px;
  margin-top: 41px;
  line-height: 30px;
  color: #585757;
  position: relative;
}

.detail-text2 {
  background-color: #f7f7fa;
  border-radius: 8px;
  padding: 30px;
  font-size: 17px;
  margin-top: 41px;
  line-height: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  color: #585757;
  position: relative;
}

.detail-see-more {
  background-color: #f55e00;
  width: 100px;
  height: 34px;
  border-radius: 8px;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.detail-text.collapsed::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 110px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
}

.detail-text.collapsed {
  max-height: none;
  background-color: #f7f7fa;
  border-radius: 8px;
  padding: 30px;
}

.detail-text.expanded {
  max-height: none;
  background-color: #f7f7fa;
  border-radius: 8px;
  padding: 30px;
}

.detail-see-more {
  background-color: #f55e00;
  width: 100px;
  height: 34px;
  border-radius: 8px;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.detail-lawyer-list {
  width: 443px;
  height: 104px;
  border: 1px solid #d7dedd;
  border-radius: 11.25px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
}
.lawyer-text {
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  justify-content: space-between; /* 세로로 일정하게 분배 */
  gap: 3px;
}

.lawyer-image {
  background-color: pink;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
}

.lawyer-name {
  font-size: 17px;
  font-weight: bold;
}
.lawyer-detail {
  color: #585757;
  font-size: 14px;
}
.lawyer-sort {
  background-color: #ff9898;
  width: 60px;
  height: 20px;
  border-radius: 14px;
  text-align: center;
  line-height: 20px;
}
.detail-sort {
  margin-right: 10px; /* 각 sort 항목 간의 간격 */
}

.detail-scrap {
  margin-left: auto; /* 자동으로 왼쪽 요소들을 밀어내고 오른쪽 정렬 */
  cursor: pointer; /* 아이콘이 클릭 가능하게 보이도록 커서 변경 */
  margin-right: 10px;
}

.top-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 1000; /* 다른 요소 위에 표시되도록 설정 */
}
.detail-question-icon {
  width: 27px;
  height: 27px;
  margin-left: 3px;
}
