.document-guide-box {
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;

  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
}
.guide-wrap {
  width: 100%;
  height: 125px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.guide-title {
  margin-top: 40px;
  font-size: 28px;
  font-weight: bold;
}
.guide-subtitle {
  font-size: 16px;
  margin-top: 14px;

  color: #262626;
}

.guide-image {
  margin-top: 30px;
  width: 915px;
  height: 300px;
  background-color: white;
  border-radius: 15px;
}
.guide-result-box {
  width: 100%;
  height: 380px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}
.guide-result-document {
  width: 435px;
  height: 250px;
  border-radius: 15px;
  background-color: white;
}
