.case-type-container {
  display: flex;
  justify-content: space-between;
  padding: 50px 170px;
}

.case-type-title-box {
  width: 30%;
  margin-right: 40px;
}

.case-type-title {
  font-size: 34px;
  font-weight: bold;
}

.case-type-content {
  font-size: 14px;
}

.case-type-content-box {
  width: 70%;
}

.case-subscribe-button {
  width: 120px;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.case-type-lawyer-rec-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
